<h1>Showing selected article</h1>
<p>
	Title: <%= @article.title %><br/>
</p>
<p>
	Description: <%= @article.description %>
</p>

<p>
	<%= link_to "View articles", articles_path %>
</p>

<td><%= link_to "Update", edit_article_path(@article) %></td>
